@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Test Driven Develpment</h1>
    <p class="lead">A Demo Project.</p>
    <p class="">And an evaluation.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>A Headline</h2>
        <p>
            Use the menu at the top or press the button below.
        </p>
        <p><a class="btn btn-default" href="../Posts">Go to posts</a></p>
    </div>

</div>